<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogendra.vivir">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.signup"
            android:parentActivityName=".main.MainActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".tenant.user_dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.flatDetails"
            android:label="Flat Details"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".tenant.RegUserSearch"
            android:parentActivityName=".tenant.user_dashboard"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".owner.uploadFlatDetails"
            android:label="Upload Flat Details"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".owner.uploadFlatImage"
            android:label="Upload Flat image"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.requestList"
            android:label="Approve Request"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.requestDetails"
            android:parentActivityName=".user.requestList"
            android:label="Approve Request"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.notification"
            android:label="Notifications"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.complainList"
            android:label="Complaints"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.writeComplain"
            android:label="Complaints"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".tenant.uploadRentDetails"
            android:parentActivityName=".tenant.user_dashboard"
            android:label="Upload Rent Details"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".owner.deleteFlatRecord"
            android:label="My Flats"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".owner.updateFlatRecord"
            android:label="Update Flat Details"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.setProfile"
            android:label="Set Profile"
            android:theme="@style/RestAppTheme" />
        <activity
            android:name=".user.changePassword"
            android:label="Change Password"
            android:theme="@style/RestAppTheme"
            android:parentActivityName=".tenant.user_dashboard"/>
        <activity
            android:name=".owner.OwnerDashboard"
            android:label="@string/title_activity_owner_dashboard"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>