<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogendra.vivir">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme" />
        <!-- activity android:name=".profileDetails" / -->
        <activity
            android:name=".dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity android:name=".flatDetails" />
        <activity
            android:name=".RegUserSearch"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UploadFlatDetails"
            android:label="Upload Flat Details"
            android:theme="@style/AppTheme" />
        <activity android:name=".UploadFlatImage" />
        <activity
            android:name=".requestList"
            android:label="Approve Request"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".requestDetails"
            android:label="Approve Request"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".notification"
            android:label="Notifications"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".complainList"
            android:label="Complains"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".writeComplain"
            android:label="Complains" />
        <activity
            android:name=".uploadRentDetails"
            android:label="Upload Rent Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".deleteFlatRecord"
            android:label="My Flats"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".updateFlatRecord"
            android:label="Update Flat Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".profileSetting"
            android:label="Set Profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".changePassword"
            android:theme="@style/AppTheme"
            android:label="Change Password"/>
    </application>

</manifest>